.comment-container {
    margin: 5px;
    padding: 10px;
    display: grid;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.comment-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.comment-input {
    width: 100%;
}